<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admine Login </title>
</head>

<body>
    <h1>Admine Login</h1>
    <h3>Enter admin id to validate to add items</h3>
    <form action="/validateAdmin" method="post">
        <label for="admin_id">Admin ID:</label>
        <input type="text" name="admin_id" id="admin_id" required>
        <button type="submit">Validate and Show Table</button>
    </form>    
</body>
</html>
