* {
    margin: 0;
    padding: 0;
}

.main_nav_nested_item {
    height: 100%;
    width: 100%;
}

.main_nav_nested_item_ele 
{
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    
    

}
.dropbtn 
{
    padding: 5px 10px 5px 10px;
    border: none;
    background-color: #000;
    color: white;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

/* for  notes  */
.dropdown-content {
    height: 120px;
    width: 150px;
    background-color:#581c84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: -2.4rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

.dropbtn:hover+.dropdown-content,
.dropdown-content:hover {
    visibility: visible;
}


/* for applied science  */
.dropdown-content_for_applied {
    height: 100px;
    width: 130px;
    background-color:#581c84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 4.3rem;
    margin-left: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

#applied_arrow:hover+.dropdown-content_for_applied,
.dropdown-content_for_applied:hover {
    visibility: visible;
}

/* for it branch */
.dropdown-content_for_it {
    height: 100px;
    width: 130px;
    background-color:#581c84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 7.6rem;
    margin-left: 8rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

#it_arrow:hover+.dropdown-content_for_it,
.dropdown-content_for_it:hover {
    visibility: visible;
}

/* for cse branch */
.dropdown-content_for_cse {
    height: 100px;
    width: 130px;
    background-color:#581c84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 11rem;
    margin-left: 8rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

#cse_arrow:hover+.dropdown-content_for_cse,
.dropdown-content_for_cse:hover {
    visibility: visible;
}

/* for sgpa all branch */
.dropdown-content_for_sgpa {
    height: 200px;
    width: 130px;
    background-color: #581c84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: -2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

.dropbtn:hover+.dropdown-content_for_sgpa,
.dropdown-content_for_sgpa:hover {
    visibility: visible;
}

.dropdown-content_for_sgpa a {
    color: white;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content_for_sgpa a:hover {
    background-color: rgb(232, 116, 7)
}

/* for sgpa it  */
.dropdown-content_for_it_sgpa {
    height: 100px;
    width: 130px;
    background-color: #581c84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -1.2rem;
    margin-left: 8rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

#it-arrow_sgpa:hover+.dropdown-content_for_it_sgpa,
.dropdown-content_for_it_sgpa:hover {
    visibility: visible;
}

/* for sgpa cse */
.dropdown-content_for_cse_sgpa {
    height: 100px;
    width: 130px;
    background-color: #581c84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 2rem;
    margin-left: 8rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

#cse-arrow_sgpa:hover+.dropdown-content_for_cse_sgpa,
.dropdown-content_for_cse_sgpa:hover {
    visibility: visible;
}

/* for sgpa ece  */
.dropdown-content_for_ece_sgpa {
    height: 100px;
    width: 130px;
    background-color:#581c84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 6rem;
    margin-left: 8rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

#ece-arrow_sgpa:hover+.dropdown-content_for_ece_sgpa,
.dropdown-content_for_ece_sgpa:hover {
    visibility: visible;
}

/* for sgpa ee  */
.dropdown-content_for_ee_sgpa {
    height: 100px;
    width: 130px;
    background-color:#581c84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 9rem;
    margin-left: 8rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

#ee-arrow_sgpa:hover+.dropdown-content_for_ee_sgpa,
.dropdown-content_for_ee_sgpa:hover {
    visibility: visible;
}

/* for sgpa ce  */
.dropdown-content_for_ce_sgpa {
    height: 100px;
    width: 130px;
    background-color:#581c84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 13rem;
    margin-left: 8rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

#ce-arrow_sgpa:hover+.dropdown-content_for_ce_sgpa,
.dropdown-content_for_ce_sgpa:hover {
    visibility: visible;
}

/* for sgpa me  */
.dropdown-content_for_me_sgpa {
    height: 100px;
    width: 130px;
    background-color: #581c84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 16.6rem;
    margin-left: 8rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

#me-arrow_sgpa:hover+.dropdown-content_for_me_sgpa,
.dropdown-content_for_me_sgpa:hover {
    visibility: visible;
}

/* for game branch */
.dropdown-content_for_game {
    height: 200px;
    width: 130px;
    background-color: #581c84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: -2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

.dropbtn:hover+.dropdown-content_for_game,
.dropdown-content_for_game:hover {
    visibility: visible;
}

.dropdown-content_for_game a {
    color: white;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content_for_game a:hover {
    background-color: rgb(232, 116, 7)
}

/* for sgpa for leet it */
.dropdown-content_for_it_leet {
    height: 90px;
    width: 130px;
    background-color: #581c84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 6rem;
    margin-left: 9rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

#it-arrow_sgpa_leet:hover+.dropdown-content_for_it_leet,
.dropdown-content_for_it_leet:hover {
    visibility: visible;
}

/* for sgpa for leet cse */
.dropdown-content_for_cse_leet {
    height: 90px;
    width: 130px;
    background-color: #581c84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 6rem;
    margin-left: 9rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

#cse-arrow_sgpa_leet:hover+.dropdown-content_for_cse_leet,
.dropdown-content_for_cse_leet:hover {
    visibility: visible;
}

/* for sgpa for leet ece*/
.dropdown-content_for_ece_leet {
    height: 90px;
    width: 130px;
    background-color: #581c84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 6rem;
    margin-left: 9rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

#ece-arrow_sgpa_leet:hover+.dropdown-content_for_ece_leet,
.dropdown-content_for_ece_leet:hover {
    visibility: visible;
}

/* for sgpa for leet ee */
.dropdown-content_for_ee_leet {
    height: 90px;
    width: 130px;
    background-color: #581c84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 6rem;
    margin-left: 9rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

#ee-arrow_sgpa_leet:hover+.dropdown-content_for_ee_leet,
.dropdown-content_for_ee_leet:hover {
    visibility: visible;
}

/* for sgpa for leet ce */
.dropdown-content_for_ce_leet {
    height: 90px;
    width: 130px;
    background-color: #581c84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 6rem;
    margin-left: 9rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

#ce-arrow_sgpa_leet:hover+.dropdown-content_for_ce_leet,
.dropdown-content_for_ce_leet:hover {
    visibility: visible;
}

/* for sgpa for leet me */
.dropdown-content_for_me_leet {
    height: 90px;
    width: 130px;
    background-color: #581c84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 6rem;
    margin-left: 9rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

#me-arrow_sgpa_leet:hover+.dropdown-content_for_me_leet,
.dropdown-content_for_me_leet:hover {
    visibility: visible;
}

/* all icon code is here */
.dropdown-arrow {
    transition: transform 0.3s ease;
}

.dropdown:hover .dropdown-arrow,
.dropdown-content:hover .dropdown-arrow {
    transform: rotate(-180deg);
}

/* applied sci icon */
.applied-arrowi {
    transition: transform 0.3s ease;
}

#applied_arrow:hover .applied-arrowi{
    transform: rotate(-180deg);
}
/* mamala yah phasa huaa hai */
.dropdown-content_for_applied:hover .applied-arrowi {
    transform: rotate(-180deg);
}








/* It icon */
.it-arrowi {
    transition: transform 0.3s ease;
}

#it_arrow:hover .it-arrowi,.dropdown-content_for_it:hover .it-arrowi {
    transform: rotate(-180deg);
}

/* cse icon */
.cse-arrowi {
    transition: transform 0.3s ease;
}

#cse_arrow:hover .cse-arrowi {
    transform: rotate(-180deg);
}

/* for sgpa icon  for it*/
.it-arrowi_sgpa {
    transition: transform 0.3s ease;
}

#it-arrow_sgpa:hover .it-arrowi_sgpa {
    transform: rotate(-180deg);
}

/* for cse */
.cse-arrowi_sgpa {
    transition: transform 0.3s ease;
}

#cse-arrow_sgpa:hover .cse-arrowi_sgpa {
    transform: rotate(-180deg);
}

/* for ece */
.ece-arrowi_sgpa {
    transition: transform 0.3s ease;
}

#ece-arrow_sgpa:hover .ece-arrowi_sgpa {
    transform: rotate(-180deg);
}

/* for ee  */
.ee-arrowi_sgpa {
    transition: transform 0.3s ease;
}

#ee-arrow_sgpa:hover .ee-arrowi_sgpa {
    transform: rotate(-180deg);
}

/* for ce  */
.ce-arrowi_sgpa {
    transition: transform 0.3s ease;
}

#ce-arrow_sgpa:hover .ce-arrowi_sgpa {
    transform: rotate(-180deg);
}

/* for me  */
.me-arrowi_sgpa {
    transition: transform 0.3s ease;
}

#me-arrow_sgpa:hover .me-arrowi_sgpa {
    transform: rotate(-180deg);
}

/* for sgpa it  */
.it-arrowi_sgpa_leet {
    transition: transform 0.3s ease;
}

#it-arrow_sgpa_leet:hover .it-arrowi_sgpa_leet {
    transform: rotate(-180deg);
}

/* for sgpa cse  */
.cse-arrowi_sgpa_leet {
    transition: transform 0.3s ease;
}

#cse-arrow_sgpa_leet:hover .cse-arrowi_sgpa_leet {
    transform: rotate(-180deg);
}

/* for sgpa ece  */
.ece-arrowi_sgpa_leet {
    transition: transform 0.3s ease;
}

#ece-arrow_sgpa_leet:hover .ece-arrowi_sgpa_leet {
    transform: rotate(-180deg);
}

/* for sgpa ee  */
.ee-arrowi_sgpa_leet {
    transition: transform 0.3s ease;
}

#ee-arrow_sgpa_leet:hover .ee-arrowi_sgpa_leet {
    transform: rotate(-180deg);
}

/* for sgpa ce  */
.ce-arrowi_sgpa_leet {
    transition: transform 0.3s ease;
}

#ce-arrow_sgpa_leet:hover .ce-arrowi_sgpa_leet {
    transform: rotate(-180deg);
}

/* for sgpa me  */
.me-arrowi_sgpa_leet {
    transition: transform 0.3s ease;
}

#me-arrow_sgpa_leet:hover .me-arrowi_sgpa_leet,.dropdown-content_for_me_leet:hover .me-arrowi_sgpa_leet{
    transform: rotate(-180deg);
}







.dropdown-content a {
    color: white;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(232, 116, 7)
}

.dropdown:hover .dropbtn {
    background-color: rgb(232, 116, 7)
}

@media(max-width: 400px)
{
/* .main_nav_nested_item_ele 
{
    height: auto;
    width: 100%;
}  */
}
/* Original CSS code */
* {
    margin: 0;
    padding: 0;
}

.main_nav_nested_item {
    height: 100%;
    width: 100%;
}

.main_nav_nested_item_ele {
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.dropbtn {
    padding: 5px 10px 5px 10px;
    border: none;
    background-color: #000;
    color: white;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    height: 120px;
    width: 150px;
    background-color:#581c84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: -2.4rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

.dropbtn:hover+.dropdown-content,
.dropdown-content:hover {
    visibility: visible;
}

/* Add media query */
@media (max-width: 300px) {
    .dropdown-content {
        visibility: hidden;
    }
}
